<router-outlet></router-outlet>
<app-header 
[links]=links 
[names]=names>
</app-header>



<div class="main">
<mz-parallax class="main">
  <img width=100% src="/assets/header.jpg" style="min-width: 100vh;">
</mz-parallax>

<section id="section-0" class="story-section content-section">
<div class="inner story">
  <h3>
    <img src="assets/hearts.png" />
    We met through school, well kinda...
  </h3>
  <input type="checkbox" class="read-more-state" id="post-1" />
  
    <p class="read-more-wrap">Tyler remembers Sam from his first packaging science class at Clemson. Tyler and Sam both declared their major as Graphic Communications and shared only a few classes together during their time at Clemson. Tyler would try 
        and make small talk with Sam, but Sam was off in her own world during most of the time and did not realize the "small talk" was Tyler's attempt to eventually ask her out. Tyler never did ask Sam out during those 3 years at 
        Clemson, he felt the occasional small talk was not enough to grab Sam's attention. 
      <span class="read-more-target">
          It wasn't until their last day of final exams where these two hit it off. After the last exam of their Clemson Undergraduate, a small group went to get breakfast on campus to celebrate together. At breakfast, everyone agreed 
          to go out for one last hoorah before summer began. That night, Sam kissed Tyler and that was where the sparkle began! 
      </span>
      <span class="read-more-target">
          Unfortunately, Tyler was leaving the day after to visit his family in Germany for the summer, as well as to visit the Esko HQ in Ghent, Belgium. When Tyler came back from Europe, he immediately started working with Esko and 
          was now living in Dayton, OH. Throughout the summer, there would be a text here and there, as well as a continuous Facebook message thread, but nothing serious…yet. That was until Tyler invited Sam for a weekend getaway in 
          Nashville and Sam initially said "yes". Unfortunately, the week of the planned trip, Sam was sick with strep throat and had to cancel last minute. Luckily, Tyler was able to get his hotel reservation cancelled and was not 
          charged for the weekend ;). Tyler's second attempt at a date with Sam was asking her to be his date a mutual friend's wedding that October (a few months later). Sam considered the offer but told Tyler she was not interested 
          in driving 16 hours from South Carolina to Indiana for a weekend. Tyler's third (and possibly final) attempt was a wedding invite in November in Sam's own back yard, Greenville, South Carolina. Sam finally said "yes".           
      </span>
      <span class="read-more-target">
          Sam remembers getting ready for this wedding and was very nervous arriving to the Westin in downtown Greenville. Little did she know; Tyler's entire family was also attending the wedding! Regardless, this night sealed the deal 
          with lots of laughter, chatting, drinking and a good-night kiss. This is truly where it all began…            
      </span>
      <span class="read-more-target">
          After the first wedding date, there were several subsequent dates where the two continued to grow closer, become best friends, and eventually fall in love. From weekend getaways at the Biltmore, trips to Orlando, Sam visiting Ohio, 
          Tyler visiting South Carolina, Tyler teaching Sam to snowboard, trips to Europe, scuba in Aruba, exploring Italy, and many other exciting adventures, there was never a dull moment and they became inseparable. Fast forward to 2018 and 
          the almost-college sweethearts are ready to say, "I do", in Tyler's families home-state of Nebraska.           
      </span>
      <span class="read-more-target">
          We appreciate you reading how we met and how we fell in love. We can't wait to share this love and celebrate our special day with you! We look forward to seeing each and every one of you!           
      </span>
      <span class="read-more-target">     
          Much love, Sammy and Ty
      
      </span></p>
    
    <label for="post-1" class="read-more-trigger"></label>
</div>
</section>

<mz-parallax [height]="600" class="bg1">
  <img width=100% src="/assets/header2.jpg">
</mz-parallax>

<section id="section-1" class="where-section content-section">
<div class="inner">
  <h3>
    <img src="assets/calendar.png" /><br />
    Celebrate with us on Friday, September 28, 2018<br />
    <small>5:00 PM – 12:00 AM</small>
  </h3>

  <p>
    <a href="http://www.bellaterre.com" target="_blank">Bella Terre Reception Hall & Vineyard</a><br />
    23375 Barrus Rd<br />
    Glenwood, IA 51534<br />
    <a href="https://goo.gl/maps/4kMNkFrWRSR2" target="_blank">Map</a>
  </p>

</div>
</section>

<mz-parallax [height]="600" class="bg1">
    <img width=100% src="/assets/header3.jpg">
</mz-parallax>

<section id="section-2" class="travel-section content-section">
<div class="inner">
  <h3>
    <img src="assets/travel.png" />
    Travel and Accommodations
  </h3>
  
  <p>The closest airport to Bella Terre is located in Omaha, Nebraska (OMA) and is called <a href="https://www.flyoma.com/" target="_blank">Eppley Airfield</a>. Bella Terre is located just 15 minutes southeast of Omaha. </p>


  <p>
    We have a room block at the Embassy Suites and the cost is $149/night and includes breakfast + a free Happy Hour 5pm-7pm.
    You can use the following link to easily book your room(s): <a href="http://group.embassysuites.com/tironethompsonwedding" target="_blank">http://group.embassysuites.com/tironethompsonwedding</a>
    <br>
    Alternatively, you can call 1-800-EMBASSY and use our group code: MTT.
  </p>

  <p>
    Omaha, Nebraska (Old Market) is a gorgeous destination with so many
    options for accomodations. Additional 
    recommended choices are:  
    <a href="https://omahadowntownoldmarket.place.hyatt.com/en/hotel/home.html" target="_blank">HYATT PLACE Omaha Downtown Old Market</a> 
    or <a href="https://councilbluffs.ameristar.com/hotel/" target="_blank">Ameristar Casino Hotel Council Bluffs</a>.
  </p>

  <p>
    Feel free to come in as early as you would like and stay as long as you like; Omaha will be a fun city to check out! 
    We plan to try and get some people together on Saturday to watch a football game or two (Go Clemson!). 
  </p>

  
</div>
</section>

<mz-parallax [height]="600" class="bg1">
    <img width=100% src="/assets/header4.jpg">
</mz-parallax>

<section id="section-3" class="registry-section content-section">
<div class="inner">
  <h3>
    <img src="assets/gift.png" />
    Registry
  </h3>
  
  <p>
    We are registered at: 
    <a href="https://www.crateandbarrel.com/gift-registry/samantha-tirone-and-tyler-thompson/r5790501" target="_blank">Crate & Barrel</a> 
  </p>
</div>
</section>

<mz-parallax [height]="600" class="bg1">
    <img width=100% src="/assets/header5.jpg">
</mz-parallax>

<section id="section-4" class="rsvp-section content-section">
  <div class="top"><div class="gray"></div></div>
    <div class="inner">
      <rsvp-form href="#rsvp"></rsvp-form>
    </div>
</section>
</div>
<!-- <rsvp-list></rsvp-list> -->